// #triangulo{
//     width:0;
//     height:0;
//     border-bottom:120px solid #666;
//     border-left: 120px solid transparent; 
//     border-right: 120px solid transparent;
//   }
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  background-color: #f5eeee;
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background-color: orangered;
  border-radius: 10px;
}

html {
  height: 100%;
}

body {
  background-color: black;
  width: 100%;
  height: 100%;
}
a{
  text-decoration: none;
  color: white;

}
p,
h1,
li {
  color: white;
  font-family: 'Roboto Condensed';
  font-weight: 100;
}
#contact, #services, #jobs,#sobre-mim{
  padding-top: 65px;
}

#triangulo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .triangulo {
    width: 150px;
    position: absolute;
    z-index: 1;
  }

  .triangulo2 {
    width: 150px;
    position: absolute;

    // filter: drop-shadow(20px 9px 0px red);

  }

  .triangulo3 {
    width: 150px;
    position: absolute;

  }

}

// Header

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  height: 65px;
  .header__logo {
    display: flex;
    align-items: center;  
    img {
      width: 120px;
      margin-left: 40px;
    }
    h1{
      font-size: 25px;
      margin-left: 40px;

    }
  }

  nav {
    ul {
      display: flex;
      margin: 0px 30px;

      li {
        color: white;
        list-style: none;
        margin: 0 10px;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}

// Title Header

.title__header {
  text-align: center;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;

  .title__line {
    width: 100px;
    height: 5px;
    margin: 5px 0;
    background-color: orangered;
  }

  .title__line-sub {
    width: 56px;
    height: 5px;
    background-color: orangered;
    margin: 5px 0;
  }

  h1 {
    color: #fff;
    font-family: 'Roboto Condensed';
    font-weight: 100;
  }


}

.top {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: orange;
    font-size: 80px;
    font-family: 'Roboto Condensed';

  }
}

// Sobre mim

.sobre-mim {
  width: 100%;
  height: 100vh;

  .title__lines {
    margin-right: 75px;
  }

  .sobre__content {
    display: flex;
    justify-content: space-around;
    align-items: center;

    p {
      color: white;
      width: 50%;
      font-size: 31px;
      font-family: 'Roboto Condensed';

    }

    .sobre___foto {
      display: flex;
      width: 307px;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 373px;

      img {

        box-shadow: 11px 7px 0px orangered;

      }
    }
  }
}

// Trabalhos Feitos

.jobs {
  width: 100%;
  height: 100vh;

  .title__lines {
    margin-right: 47px;

  }

  .jobs__content {
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      width: 300px;
      margin: 0 10px;
      cursor: pointer;
    }

    .img-test {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url('../images/portfolio-site03.png');
      width: 300px;
      // background-size: cover;
      background-position: center;
      height: 418px;
      background-repeat: round;
      background-attachment: fixed;
      margin: 0 1px;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        // background-color: red;   
        box-shadow: 11px 7px 0px orangered;
        transition-duration: .5s;
      }

      img {
        display: flex;
        width: 170px;
        justify-content: center;
        align-items: center;
      }


    }

  }
}

// Serviços

.services {
  width: 100%;
  height: 100vh;

  .title__lines {
    margin-right: 54px;
  }

  .responsive__content {
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
      width: 135px;
    }

    p {
      width: 260px;
      font-size: 19px;
    }

    h1 {
      margin: 10px 0;
      font-size: 28px;
      font-weight: 200;
    }
  }
}

// Contato

.contact {
  height: 50vh;

  .title__lines {
    margin-right: 36px;

  }

  .contact__content {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .contact__info {
      h1 {
        font-size: 30px;
        color: orangered;
      }

      p {
        font-size: 20px;
      }

      div {
        margin: 20px 0;
      }
    }

    .contact__form {
      img{
        width: 100px;
        margin: 0px 25px;
        cursor: pointer;
      }
      // label {
      //   p {
      //     color: orangered;
      //     margin: 8px 0;
      //     font-size: 20px;
      //   }

      //   input {
      //     font-size: 23px;
      //     border-radius: 4px;
      //     border: none;
      //     padding: 12px 9px;
      //   }
      // }
    }
  }
}